[Unit]
Description=Shared QEMU IPMI relay
Requires=qemu-ipmi-relay.socket
After=systemd-modules-load.service qemu-ipmi-relay.socket

[Service]
Type=simple
User=root
Group=incus
ExecStart=/usr/local/sbin/qemu-ipmi-relay --config /etc/qemu-ipmi-relay/config.toml
Restart=on-failure
RestartSec=1s

NoNewPrivileges=yes
CapabilityBoundingSet=
LockPersonality=yes
MemoryDenyWriteExecute=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
SystemCallArchitectures=native
